*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     outline: none;    
}
body{
    background-color: rgba(106,0,0,.2);
}
div#corpo{
    width: 100%;
    height: 650px;
   
}
header{
    width: 100%;
    height: 70px;
    background-color: rgb(106,0,0) ;
    display: flex;
    justify-content: center;
    align-items: center;

}
#main{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
}
aside{
    width: 130px;
    height: 600px;
    background-color: rgb(106,0,0) ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgs{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
    color: white;
    z-index: 10;
}
.imgs > button{
    background: transparent;
    border: none;
    cursor: pointer;
    
}

#navHome{
    width: 150px;
    height: 100%;
    background-color: rgba(106,0,0,.7);
    position: absolute;
    margin-left: -280px;
    transition: all .3s;
    z-index: 1;
}
#navCadastro{
    width: 150px;
    height: 100%;
    background-color: rgba(106,0,0,.7);
    position: absolute;
    margin-left: -280px;
    transition: all .3s;
    z-index: 1;
}
#navRelatorio{
    width: 150px;
    height: 100%;
    background-color: rgba(106,0,0,.7);
    position: absolute;
    margin-left: -280px;
    transition: all .3s;
    z-index: 1;
}
#navCaixa{
    width: 150px;
    height: 100%;
    background-color: rgba(106,0,0,.7);
    position: absolute;
    margin-left: -280px;
    transition: all .3s;
    z-index: 1;
}
section{
    width: 90%;
    height: 600px;
}
#cadUser{
    width: 100%;
    height: 600px;
    margin: 0;
    display: none;
    flex-direction: row;
    justify-content: space-between;
}
#formUser{
    width: 79%;
    height: 560px;
    margin: 10px;
    border: 1px solid;
}

#fotoUser{
    width: 23%;
    height: 300px;
    margin: 10px 10px;
    float: left;
    display: flex;
    flex-direction: column;
}
#fotoUser > button{
    width: 100%;
    height: 30px;
    cursor: pointer;
}
#imgUser{
     width: 100%;
     margin: 0;
     height: 270px;
     background: darkslategrey;
}

#dados{
    width: 45%;
    height: 100px;
    float: left;
    margin: 10px 10px 0 0;
}
#nomeUser{
    width: 96%;
    height: 25px;
    margin: 5px 2%;
}
.docs{
    width: 30%;
    height: 25px;
    margin: 5px 0 0 2%;
}
#senha{
    width: 11%;
    height: 100px;
    float: left;
    margin: 10px 1% 0 0;
}
.senhas{
    width: 94%;
    height: 25px;
    margin: 5px 3%;
}
#idade{
    width: 9%;
    height: 100px;
    float: left;
    margin: 10px 0;
}
#dtCadUser{
    width: 90%;
    height: 25px;
    margin: 5px 5%;
    float: left;
}
.idadeUser{
    width: 55%;
    height: 25px;
    margin: 5px 2%;
    float: left;
}
.p{
    margin-top: 10px;
}
#sexo{
    width: 13%;
    height: 100px;
    float: left;

}
.sexo{
    margin: 10px 5%;
}
#endereco{
    width: 59.6%;
    height: 100px;
    float: left;
    margin: 0 1%;
}
.log{
    width: 27.7%;
    height: 25px;
    margin: 5px 0 0 1%;
}
.log1{
    width: 85%;
    height: 25px;
    margin: 5px 1%;
}
.log2{
    width: 10%;
    height: 25px;
    margin: 5px 1%;
}
.log3{
    width: 9%;
    height: 25px;
    margin: 5px 1%;
}
#contato{
    width: 74%;
    height: 100px;
    float: left;
    margin: 10px 0;
}
.cont{
    width: 30.2%;
    height: 25px;
    margin: 5px 0 0 2%;
}
.cont1{
    width: 96%;
    height: 25px;
    margin: 5px 2%;
}
#info{
    width: 23%;
    height: 220px;
    float: left;
    margin: -20px 10px;
}
#obs{
    width: 74%;
    height: 130px;
    float: left;
    margin: 0;
}
#obsUser{
    width: 100%;
    height: 110px;
}
#btnsUser{
    float: left;
    width: 73%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#btnsUser > button{
    height:  80%;
    background-color: transparent;
    border: none;
}
#btnsUser > button > img{
    height:  50%;
}

#buscUser{
    width: 20%;
    height: 560px;
    margin: 10px 1% 0 0;
    border: 1px solid;
}

#cadProds{
    width: 90%;
    height: 560px;
    margin: 0 5%;
    display: none;
    border: 1px solid;
}



