
<div id='corpo'>
    <header>
          <img src="/img/logoPreto.png" alt="Logo Lunarys">
    </header>
    <div id='main'>
        <aside>
            <div class="imgs" id='imgHome' onmouseover='moveHome()' onmouseout="fechaHome()">
               <button  ><img src="/img/home.png" alt="icone home"></button> 
                <span>Home</span>
            </div> 
            <div id="navHome" onmouseover='moveHome()' onmouseout="fechaHome()">
                  
            </div>
            <div class="imgs" onmouseover='moveCadastro()' onmouseout="fechaCadastro()">
                <button><img src="/img/cadastro.png" alt="icone cadastro"></button>
                <span>Cadastro</span>
            </div>
            <div id="navCadastro" onmouseover='moveCadastro()' onmouseout="fechaCadastro()">
                  <button onclick="cadUser()">Usuários</button>   
                  <button onclick="cadProds()">Produtos</button> 
            </div>
            <div class="imgs" onmouseover='moveRelatorio()' onmouseout="fechaRelatorio()">
                <button><img src="/img/relatorio.png" alt="icone Relatorio"></button>
                <span>Relatório</span>
            </div>
            <div id="navRelatorio" onmouseover='moveRelatorio()' onmouseout="fechaRelatorio()">
                     
            </div>
            <div class="imgs" onmouseover='moveCaixa()' onmouseout="fechaCaixa()">
                <button><img src="/img/caixa.png" alt="icone Caixas"></button>
                <span>Caixa</span>
            </div>
            <div id="navCaixa" onmouseover='moveCaixa()' onmouseout="fechaCaixa()">
                     
            </div>
        </aside>
        <section>
            <div id="cadUser">
                <form id="formUser" action="/home" method='post'>
                    <fieldset id='fotoUser'>
                        <div id="imgUser">

                        </div>
                        <button>Capturar</button>
                    </fieldset>
                    <fieldset id='dados'><legend>Principal</legend>
                        <input type="text" name='nome' id='nomeUser' placeholder="Nome Completo" readonly/>
                        <input type="text" name='rg'   id='rgUser'   class='docs' placeholder="Seu Rg" readonly/>
                        <input type="text" name='cpf'  id='cpfUser'  class='docs' placeholder="Seu Cpf" readonly/>
                        <input type="text" name='ctps'  id='ctpsUser'  class='docs' placeholder="Sua Ctps" readonly/>
                    </fieldset>
                    <fieldset id='senha'><legend>Senha</legend>
                      <input type="password" name='senha' id='senhaUser' class='senhas' placeholder="Senha" readonly/>
                      <input type="password" name='confSenha' id='confSenhaUser' class='senhas' placeholder="Confirmar Senha" readonly/>
                    </fieldset>
                    <fieldset id='idade'><legend>Idade</legend>
                        <input type="date" name='dtNasc' id='dtNasc'>
                        <input type="text" readonly class='idadeUser' readonly><p class='p'>Anos</p>
                    </fieldset>
                    <fieldset id='sexo'><legend>Sexo</legend>
                           <input type="radio" name='sexo' class='sexo' value='Masculino' readonly>Masculino
                           <input type="radio" name='sexo' class='sexo' value='Feminino' readonly>Feminino
                    </fieldset>
                    <fieldset id='endereco'><legend>Endereço</legend>
                          <input type="text" name='endereco' id='enderecoUser'  class='log1' placeholder="Endereço" readonly>
                          <input type="text" name='num'  id='numUser'  class='log2' placeholder="Numero" readonly>
                          <input type="text" name='comp'  id='compUser'  class='log' placeholder="Complemento" readonly/>
                          <input type="text" name='bairro'  id='bairroUser'  class='log' placeholder="Bairro" readonly/>
                          <input type="text" name='cidade'  id='cidadeUser'  class='log' placeholder="Cidade" readonly/>
                          <input type="text" name='uf'  id='ufUser'  class='log3' placeholder="Uf" readonly/>                          
                    </fieldset>
                    <fieldset id='contato'><legend>Contato</legend>
                           <input type="text" name='tel'  id='telUser'  class='cont' placeholder="Telefone" readonly/>
                          <input type="text" name='cel'  id='celUser'  class='cont' placeholder="Celular" readonly/>
                          <input type="text" name='whats'  id='whatsUser'  class='cont' placeholder="Whatsapp" readonly/>
                          <input type="text" name='email'  id='emailUser'  class='cont1' placeholder="Email" readonly/>
                    </fieldset>
                    <fieldset id='info'>

                    </fieldset>
                    <fieldset id='obs'><legend>Observações</legend>
                        <textarea name='obs' id='obsUser' readonly></textarea>
                    </fieldset>
                    <div id="btnsUser">
                       <button type="button" onclick="confirmaNovo()"><img src="/img/novo.png" alt="Novo Cadastro" title="Novo Cadastro"></button>
                        <button type="submit"><img src="/img/salvar.png" alt="Salvar Cadastro" title="Salvar Cadastro"></button>
                        <img src="/img/atualizar.png" alt="Atualizar Cadastro" title="Atualizar Cadastro">
                        <img src="/img/primeiro.png" alt="Primeiro Cadastro" title="Primeiro Cadastro">
                        <img src="/img/voltar.png" alt="Voltar um Cadastro" title="Voltar um Cadastro">
                        <img src="/img/avancar.png" alt="Avançar um Cadastro" title="Avançar um Cadastro">
                        <img src="/img/ultimo.png" alt="Último Cadastro" title="Último Cadastro">
                        <img src="/img/limpar.png" alt="Limpar Cadastro" title="Limpar Cadastro">
                        <img src="/img/excluir.png" alt="Excluir Cadastro" title="Excluir Cadastro">
                        <img src="/img/maisInfo.png" alt="Mais Informações" title="Mais Informações">

                    </div>
                                        
                </form>
                <div id="buscUser">

                </div>    
                
            </div>
            <div id="cadProds">
                <button onclick="fechaProds()">X</button>
                Produtos
            </div>
            <div id='novoUsuario'>
                <h1>Novo Usuário</h1>
                <p>Você tem certeza que deseja cadastrar um novo usuário? </p>
                <div id="btnsNovo">
                    <button type="button" onclick="novo(false)">Cadastrar</button>
                    <button type="button" onclick="fecharNovo()">Cancela</button>
                </div>
            </div>

        </section>
    </div>    

</div>