<div id='corpo'>
    <header>
          <img src="/img/logoPreto.png" alt="Logo Lunarys">
    </header>
    <div id='main'>
        <aside>
            <div class="imgs" id='imgHome' onmouseover='moveHome()' onmouseout="fechaHome()">
               <button  ><img src="/img/home.png" alt="icone home"></button> 
                <span>Home</span>
            </div> 
            <div id="navHome" onmouseover='moveHome()' onmouseout="fechaHome()">
                  
            </div>
            <div class="imgs" onmouseover='moveCadastro()' onmouseout="fechaCadastro()">
                <button><img src="/img/cadastro.png" alt="icone cadastro"></button>
                <span>Cadastro</span>
            </div>
            <div id="navCadastro" onmouseover='moveCadastro()' onmouseout="fechaCadastro()">
                  <button onclick="cadUser()">Usuários</button>   
                  <button onclick="cadProds()">Produtos</button> 
            </div>
            <div class="imgs" onmouseover='moveRelatorio()' onmouseout="fechaRelatorio()">
                <button><img src="/img/relatorio.png" alt="icone Relatorio"></button>
                <span>Relatório</span>
            </div>
            <div id="navRelatorio" onmouseover='moveRelatorio()' onmouseout="fechaRelatorio()">
                     
            </div>
            <div class="imgs" onmouseover='moveCaixa()' onmouseout="fechaCaixa()">
                <button><img src="/img/caixa.png" alt="icone Caixas"></button>
                <span>Caixa</span>
            </div>
            <div id="navCaixa" onmouseover='moveCaixa()' onmouseout="fechaCaixa()">
                     
            </div>
        </aside>
        <section>
            <div id="cadUser">
                <button onclick="fechaUser()">X</button>
                usuarios
            </div>
            <div id="cadProds">
                <button onclick="fechaProds()">X</button>
                Produtos
            </div>

        </section>
    </div>    

</div>